@using Microsoft.AspNetCore.Identity
@model IdentityRole
@{
    ViewData["Title"] = "EditRoll";
}

<h3>EditRoll</h3>
<br />
<form method="post" asp-controller="ManageRoll" asp-action="EditRoll">
    <div class="col-md-8">
        <div class="row py-2">
            <div class="col-md-6">
                <label class="form-label">Roll Name</label>
                <input asp-for="Name" class="form-control py-2" />
            </div>
            <br />

        </div>
        <button type="submit" class="btn btn-primary">Edit Roll</button>
    </div>
</form>

